@model CryptoWalletFrontend.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@Html.HiddenFor(x=> x.Token);

<body class="img js-fullheight">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1 class="display-4">Bienvenidos a CryptoWallet</h1>
    </div>
    <div>
        @Html.Partial("Partial/_IndexPartial.cshtml")
    </div>
</body>



<script src="~/js/Home/Home.js"> </script> 



